<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item sidebar-category">
      <p>Меню</p>
      <span></span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../index.html">
        <i class="mdi mdi-view-quilt menu-icon"></i>
        <span class="menu-title">Головна</span>
        <div class="badge badge-info badge-pill">2</div>
      </a>
    </li>
    <li class="nav-item sidebar-category">
      <p>Основне</p>
      <span></span>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-database-plus menu-icon"></i>
        <span class="menu-title">Конектори</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/forms/connectors.html">Перелік конекторів</a></li>
          <li class="nav-item"> <a class="nav-link" href="../../pages/ui-features/typography.html">Додавання нового</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../pages/charts/metrics.html">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title">Метрики</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../pages/charts/forecasts.html">
        <i class="mdi mdi-chart-line menu-icon"></i>
        <span class="menu-title">Прогнозування</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../pages/tables/data.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Дані</span>
      </a>
    </li>
    <li class="nav-item sidebar-category">
      <p>Налаштування</p>
      <span></span>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Акаунт користувача</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
        </ul>
      </div>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" href="../../pages/tables/data.html">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Акаунт користувача</span>
      </a>
    </li>
    <li class="nav-item sidebar-category">
      <p>Інше</p>
      <span></span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../../docs/documentation.html">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">Документація</span>
      </a>
    </li>
  </ul>
</nav>